<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jordan Unschool Project</title>
    <link type="text/css" href="/public/css/styles.css" rel="stylesheet" />
    <script src="/public/js/script.js" defer></script>
  </head>
  <body>
    <section id="gpt-clone-wrapper">
      <h1 class="header">chat gpt clone</h1>
      <div class="gpt-form">
        <form id="gpt-form" action="/gpt-form" method="post" enctype="multipart/form-data">
          <label for="userInput">enter your prompt:</label>
          <textarea
            name="userInput"
            id="userInput"
            cols="1"
            rows="10"
          ></textarea>
          <button type="submit">enter prompt</button>
        </form>
      </div>
    </section>
  </body>
</html>
