* {
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: capitalize;
  margin-bottom: 15px;
}

#gpt-clone-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25% auto;
}

.gpt-form form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.gpt-form form textarea {
  width: 50vw;
}

.gpt-form form label {
  text-transform: capitalize;
  align-self: flex-start;
}

.gpt-form form button {
  margin-top: 15px;
  text-transform: capitalize;
  align-self: center;
}
